@use '/src/styles/constants/colors';

h2 {
  padding: 24px;
  font-size: 20px;
  color: colors.$WHITE;
}

.emptyMessage {
  padding: 12px 24px;
  font-size: 20px;
  color: colors.$WHITE;
}

.movieList {
  height: 400px;
  padding: 0 16px;
  overflow-y: scroll;
  font-size: 20px;
}
