@use '/src/styles/constants/colors';

footer {
  .linkContainer {
    display: flex;
    justify-content: space-evenly;

    a {
      li {
        width: 80px;
        border: 1px solid white;
        border-radius: 12px;
      }

      .linkButton {
        width: 100%;
        color: colors.$WHITE;
      }
    }
  }
}
